@keyframes pulsateRight {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  45% {
    margin-left: 3px;
  }
  55% {
    margin-left: 3px;
  }
  70% {
    margin-left: 0;
  }
  100% {
    margin-left: 0;
  }
}
