@keyframes circles {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  20% {
    transform: translate(-50%, -50%) scale(1.4);
  }
  30% {
    transform: translate(-50%, -50%) scale(0.8);
  }
  70% {
    transform: translate(-50%, -50%) scale(1.5);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes pulsateRight {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  45% {
    margin-left: 3px;
  }
  55% {
    margin-left: 3px;
  }
  70% {
    margin-left: 0;
  }
  100% {
    margin-left: 0;
  }
}
