.footer {
  position: relative;
  background-color: var(--color-primary);
  border-radius: 0 25rem 1rem 1rem;
  padding: 8rem 20rem;

  display: flex;
  justify-content: space-around;

  @media (orientation: portrait) and (max-width: $bp-medium-grid) {
    padding: 7rem 15rem;
  }
  @media (max-width: $bp-medium-tablet) {
    border-radius: 0 15rem 0 0;
    padding: 5rem 10%;

    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }
}

.contact,
.links {
  list-style: none;

  &__link,
  &__link:link,
  &__link:visited {
    display: block;
    font-size: 2rem;
    line-height: 1.8;
    text-decoration: none;
    color: var(--color-grey-lighter);
    border-radius: 4px;
    outline: none;

    &:focus {
      border: var(--line-outline);
      box-shadow: var(--shadow-button);
    }
  }
}

.contact__element:last-child a {
  cursor: text;
}

.socials {
  margin-top: 3rem;

  @media (max-width: $bp-medium-tablet) {
    position: absolute;
    bottom: 5rem;
    right: 5rem;

    display: flex;
    flex-direction: column;
  }

  &__icon {
    display: inline-block;
    margin-right: 1.5rem;
    outline: none;

    &:focus {
      border: var(--line-outline);
    }

    @media (max-width: $bp-medium-tablet) {
      margin: 2rem 0 0 0;
    }

    i {
      font-size: 3.2rem;
      color: var(--color-grey-lighter);

      @media (max-width: $bp-medium-tablet) {
        font-size: 4.5rem;
      }
    }
  }
}
