.header {
  margin-left: 10%;
  width: 90%;
  height: 90vh;
  padding: 0 5rem;
  border-radius: 25rem 1rem 0 0;
  background-color: var(--color-primary);
  color: var(--color-grey-lighter);

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  @media only screen and (max-width: $bp-largest) {
    border-radius: 25rem 0 0 0;
  }
  @media (orientation: portrait) and (max-width: $bp-large-mobile), (max-width: $bp-medium) {
    flex-direction: column;
    justify-content: center;
  }
  @media only screen and (max-width: $bp-small) {
    padding: 0 5rem;
  }

  &__heading {
    font-family: var(--font-header);
    font-size: 8rem;
    font-weight: normal;
    @media only screen and (max-width: $bp-medium) {
      line-height: 1.2;
    }
    @media only screen and (max-width: $bp-small) {
      font-size: 7rem;
      line-height: 1;
    }
    @media only screen and (max-width: $bp-smallest) {
      font-size: 5rem;
    }
  }
  &__span {
    display: block;
    line-height: 1.2;
    font-family: var(--font-primary);
    font-size: 7rem;
    font-weight: 600;

    @media only screen and (max-width: $bp-medium) {
      display: inline-block;
      font-size: 6rem;
    }
    @media only screen and (max-width: $bp-small) {
      font-size: 5rem;
    }
    @media only screen and (max-width: $bp-smallest) {
      font-size: 4rem;
    }
  }
  &__hero-image {
    width: 25vw;
    height: 22vw;
    background-image: url(../assets/img/salon-small.jpg);
    background-size: cover;
    background-position: 79% center;
    border-radius: 3rem 0 0 0;
    box-shadow: var(--shadow-box-big);
    transform: rotate(10deg);

    @media only screen and (min-resolution: 192dpi) and (min-width: 600px),
      only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 600px),
      only screen and (min-width: 600px) {
      background-image: url("../assets/img/salon-small.jpg");
    }
    @media only screen and (max-width: $bp-big-less) {
      width: 28vw;
      height: 25vw;
    }
    @media (orientation: portrait) and (max-width: $bp-large-mobile) {
      width: 50vw;
      height: 29vw;
      transform: rotate(10deg) translate(0, 14rem);
    }

    @media only screen and (max-width: $bp-medium) {
      width: 40vw;
      height: 29vw;
      transform: rotate(10deg) translate(15rem, -4rem);
    }
    @media (orientation: portrait) and (max-width: $bp-medium) {
      width: 50vw;
      height: 29vw;
      transform: rotate(10deg) translate(0, 14rem);
    }
    @media only screen and (max-width: $bp-small) {
      width: 45vw;
      height: 32vw;
      transform: rotate(0) translate(8rem, 3rem);
    }
    @media only screen and (max-width: $bp-smallest) {
      width: 50vw;
      height: 32vw;
      transform: rotate(0) translate(3rem, 7rem);
    }
    @media only screen and (max-width: $bp-tiny-big) {
      width: 65vw;
      height: 40vw;
      transform: rotate(0) translate(0, 6rem);
    }
  }
}
