.reviews-base {
  background-color: var(--color-grey-lighter);
  padding: 3rem 0 8rem 0;
  margin-bottom: 12rem;
  border-radius: 25rem 0 25rem 0;

  @media only screen and (max-width: $bp-smallest) {
    padding: 4rem 0 7rem 0;
    margin-bottom: 8rem;
    border-radius: 20rem 0 20rem 0;
  }
  @media only screen and (max-width: $bp-tiny) {
    border-radius: 15rem 0 15rem 0;
  }
}

.reviews {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  &__slider {
    flex-basis: 60%;

    @media only screen and (max-width: $bp-smallest) {
      flex-basis: 66%;
    }
  }

  &__text {
    text-align: center;
    font-size: 1.7rem;
    font-style: italic;
    font-weight: normal;
  }
  &__person {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
  }
  &__person-image {
    width: 9rem;
    height: 9rem;
    background-size: cover;
    border-radius: 50%;

    &--1 {
      background-image: url(../assets/img/person1.jpg);
    }
    &--2 {
      background-image: url(../assets/img/person2.jpg);
    }
    &--3 {
      background-image: url(../assets/img/person3.jpg);
      background-position: center;
    }
  }
  &__person-name {
    font-size: 1.8rem;
    font-weight: 600;
    margin-left: 2rem;
  }

  &__arrow {
    flex-basis: 22%;
    text-align: center;

    font-size: 6rem;
    font-weight: 600;
    color: var(--color-primary);
    cursor: pointer;

    @media only screen and (max-width: $bp-smallest) {
      flex-basis: 15%;
      font-size: 5rem;
    }
  }
}
