.tips {
  position: relative;
  margin: 15rem 20% 15rem 20%;

  &__article {
    display: flex;
    margin-bottom: 15rem;
  }
  &__image {
    flex-basis: 50%;
  }
  &__image-holder {
    width: 78%;
    height: 70vh;
    display: block;
    background-size: cover;
    background-position: center center;
    &--1 {
      background-image: url(../assets/img/jadalnia.jpg);
      border-radius: 3rem 0 0 0;
      box-shadow: var(--shadow-box-big);
      transform: rotate(-10deg);
    }
    &--2 {
      margin-left: 9rem;
      background-image: url(../assets/img/lazienka.jpg);
      border-radius: 0 3rem 0 0;
      box-shadow: var(--shadow-box-big);
      transform: rotate(10deg);
    }
  }

  &__content {
    margin-left: 3rem;
    flex-basis: 50%;
  }

  &__decor {
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: "arial", serif;
    font-weight: bolder;
    font-size: 22rem;
    line-height: 0.6;
    letter-spacing: 1px;
    color: var(--color-grey-dark);
    transform: translate(-40%, -65%) rotate(-25deg);
  }
}

.from-left,
.from-right {
  opacity: 0;
  transition: opacity 400ms ease-in, transform 500ms ease-in;
}
.from-left {
  transform: translateX(-70%);
}
.from-right {
  transform: translateX(70%);
}

.from-left.appear,
.from-right.appear {
  opacity: 1;
  transform: translateX(0);
}
